<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./examples.css">

    <style>
          .aside-container {
            position: absolute;
            right: 10px;
            width: 200px;
            height: 200px;
            background-color: grey;
        }

        .rect-black {
            background-color: blue;
            position: absolute;
            top: 10px;
        }

        .rect-10px-left {
            position: relative;
            left: 10px;
        }
    </style>
</head>
<body>
<div style="display: flex; flex-direction: row">
    <input type="text">
    <div style="position: relative; right: 20px;display: flex">
        <div style="margin: auto">&copy;</div>
    </div>
</div>
<div class="aside-container">
    <div class="rect rect-black"></div>
</div>
<div class="rect rect-green rect-10px-left"></div>
<div class="rect rect-green rect-10px-left"></div>
<div class="rect rect-green rect-10px-left"></div>
<div class="rect rect-green rect-10px-left"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>
<div class="rect rect-green"></div>

<div class="rect rect-blue"></div>

<div class="rect rect-green"></div>

</body>
</html>
