<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./examples.css">
    <style>
        #rectangle {
            background-color: #1b1e21;
        }

        .container .rect.rect-blue {
            background-color: #533f03;
        }

        .rect.rect-blue {
            background-color: #6f42c1;
        }
    </style>
</head>
<body>
<!--style="" #id .class <tag>-->
<div class="container">
    <div id="rectangle" class="rect rect-blue" style="background-color: #a71d2a"></div>
</div>

</body>
</html>
